body {
    margin: 0;
}

.box {
    width: 60px;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_new {
    width: 100px;
    height: 100px;
    color: #fff;
    background-color: darkorchid;
    padding: 16px;
    border: 2px solid black;
    /* Problem : the size will increase and that is not what we expect */
    /* We want to have padding and border but not increase in size */
    /* Solution: Box sizing=> border-box */
    box-sizing: border-box;
    /* With this box-sizing=>content=width-padding-border */
    /* But if the padding is over the allowed size,the size will wrong */
}

.box1 {
    background-color: #333;
    margin-left: 20px;
}

.box2 {
    background-color: orange;
}

.box3 {
    background-color: firebrick;
    /* padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px; */
    /* padding: 10px; */
    /* padding: 10px 12px;
    10: top,bottom; 12:left,right; */
    padding: 10px 12px 8px;
    /* 10: top; 8:bottom; 12:left,right; */
    /* padding: 10px 12px 8px 6px;
        top->right->bottom->left */
    border: 10px solid #333;
    margin-bottom: 20px;
}