* {
    box-sizing: border-box;
}

.item {
    text-align: center;
    min-height: 180px;
    line-height: 180px;
    background-color: orange;
    margin: 12px 0;
}

.main {
    display: flex;
    padding: 0 24px;
}

.sidebar {
    width: 300px;
    background-color: yellow;
}

.content {
    flex: 1;
}

@media (max-width:1023px) and (min-width:740px) {
    .hide-on-tablet {
        display: none;
    }
}

@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }
}